.container{
    background-color: aqua;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    
}
.container div{
    width: 100px;
    height: 100px;
    background-color: violet;
    text-align: center;
    color: black;
}