.topright {
    font-size: 37px;
    text-align: left;
    display: flex;
    background: #990c0c;
    color: white;
    margin-right: 1189px;
    padding-left: 47px;
    margin-left: 77px;

}

.sign {
    display: flex;
    justify-content: left;
    margin-left: 261px;
    margin-top: -36px;
    font-size: 20px;
}

.home {
    display: flex;
    margin-left: 299px;
    justify-content: space-evenly;
    margin-top: -36px;

}

.home a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition-delay: 0.5s;
}

.home a:hover {
    transition-delay: 0.5s;
    cursor: pointer;
    border-bottom: 2.5px solid red;
}

.home input {
    height: 17px;
    border: 0;
    background-color: darkgray;

}

.material-icons {
    width: 0.5px;
}

.news {

    display: flex;
    background-color: red;
    margin-top: 20px;
    padding-left: 112px;
    height: 110px;

}

.newsa {

    display: flex;
    justify-content: space-around;
    margin-top: -55px;
    text-decoration: none;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}

.news1 {

    font-size: 35px;
    color: white;

}

.smheading {

    display: flex;
    background-color: silver;
    margin-top: 28px;
    font-size: 10px;
    margin-left: 45px;
    margin-right: 51px;

}

h1:hover {

    transition-delay: 0.5s;
    cursor: pointer;
    border-bottom: 2.5px solid rgb(165tr, 22, 72);

}

.add {

    text-align: end;
    margin-top: 11px;
    margin-right: 300px;

}

.img1 {

    margin-left: 525px;

}

h6 {

    color: blue;
    margin-top: -18px;
    margin-left: 550px;
    cursor: pointer;

}

.i2 {

    display: flex;
    margin-left: 600px;
    margin-top: -290px;
    font-size: 24px;

}

.i21 {

    text-align: inherit;
    font-style: oblique;
    font-weight: unset;
    font-size: 18px;
    margin-left: 606px;
    cursor: zoom-in;
    background-color: wheat;

}


.img3 {

    display: flex;
    margin-top: 122px;

}

.i3 {

    display: flex;
    font-size: 17px;
    margin-top: 300px;
    margin-left: -430px;
    color: black;

}

.i31 {

    display: flex;
    font-size: 15px;
    font-weight: inherit;
    margin-top: 338px;
    margin-left: -423px;
    text-align: inherit;
    background-color: antiquewhite;

}

.img4 {

    display: flex;
    margin-left: 474px;
    margin-top: -464px;

}

.i4 {

    display: flex;
    font-size: 17px;
    margin-top: 300px;
    margin-left: -440px;

}

.i41 {

    display: flex;
    margin-top: 334px;
    margin-left: -340px;
    font-weight: inherit;
    font-size: 15px;
    background-color: antiquewhite;

}

.img5 {

    display: flex;
    margin-left: 960px;
    margin-top: -495px;

}

.i5 {

    display: flex;
    margin-top: 300px;
    margin-left: -440px;

}

.i51 {

    display: flex;
    margin-top: 350px;
    margin-left: -335px;
    font-weight: inherit;
    font-size: 16px;
    background-color: antiquewhite;

}

.img6 {

    display: flex;
    margin-top: 30px;

}

.i6 {

    display: flex;
    margin-top: 310px;
    margin-left: -430px;
    font-size: 17px;

}

.i61 {

    display: flex;
    margin-top: 350px;
    font-weight: inherit;
    margin-left: -315px;
    background-color: antiquewhite;

}

.img7 {

    display: flex;
    margin-left: 500px;
    margin-top: -446px;

}

.i7 {

    display: flex;
    margin-top: 310px;
    margin-left: -440px;

}

.i71 {

    display: flex;
    margin-top: 350px;
    margin-left: -435px;
    font-weight: inherit;
    background-color: antiquewhite;

}

.features {

    display: flex;
    font-weight: bold;
    font-size: 32px;
    margin-left: 80px;
    color: rgb(0, 0, 0);

}

.fimg {

    display: flex;
    margin-left: 100px;
    margin-top: 20px;

}

.fi1 {

    display: flex;
    margin-top: 170px;
    margin-left: -250px;

}

.fimg2 {

    display: flex;
    margin-left: 414px;
    margin-top: -228px;

}

.fi2 {

    display: flex;
    margin-top: 170px;
    margin-left: -230px;

}

.fimg3 {

    display: flex;
    margin-left: 734px;
    margin-top: -227px;

}

.fi3 {

    display: flex;
    margin-top: 170px;
    margin-left: -220px;

}

.fimg4 {

    display: flex;
    margin-left: 1055px;
    margin-top: -228px;

}

.fi4 {

    display: flex;
    margin-top: 170px;
    margin-left: -220px;

}

.latestnews {

    display: flex;
    margin-left: 650px;
    font-size: 25px;
}

.ln1 {

    margin-top: 42px;
    font-size: 20px;
    display: flex;
    margin-left: -132px;

}

.ln2 {

    display: flex;
    margin-top: 188px;
    margin-left: -155px;


}

.lni {

    margin-top: 250px;
    margin-left: -457px;

}

.lu {

    display: flex;
    margin-left: 460px;

}

.lu1 {

    display: flex;
    margin-left: 400px;
    justify-content: space-between;
    width: 60px;
    margin-top: 10px;
    background: red;

}

.last {

    display: flex;
    margin-left: 200px;
    font-size: 25px;
    color: rgb(113, 57, 57);

}

.li2 {
    margin-left: 200px;
}

.finial {
    display: flex;
    justify-content: center;
    color: blue;
    cursor: pointer;
}