*{
    margin: 0%;
    padding: 0%;
    font-family: 'Bree Serif', serif;
    font-weight: 100;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8%;
    gap: 10px;
}
.container img{
    width: 25%;
    height: 25%;
    margin: 3%;
}
.content{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}
.content h3{
    font-size: 50px;
}
.content p{
    width: 200px;

}
.content button{
    margin: 5% 0;
    height: 40px;
    width: 150px;
    background-color: rgb(41, 41, 41);
    color: white;
}

@media only screen and (max-width: 767px) {
    .container{
        flex-direction: column;
    }
    .container img{
        width: 60%;
        height: 60%;
    }
    .content{
        width: 100%;
        margin-left: 50px;
    }
  }