
#cid{
    background-color:green;
    text-align: center;
    font-size: 50px;
    text-shadow: 5px 3px black;
    

}
p
p
{
    color:lawngreen;
    text-align: center;
    font-size: 60px;
    font-size: italic;
    background-color: aqua;
    padding: 10px 10px 10px 10px;
    padding-right: 40%;
    padding-left: 60px;

}
